.btn btn-primary btn-lg {
	background-color: pink;
}

@import 'bootstrap';

body {
	padding: 25px;

}

.footer {
	margin-top: 50px;
	color: gray;

	a {
		color: pink;
	}
}

.jumbotron {
	text-align: left;
}

h1 {
	font-family: "Raleway";
}

.footer {
	text-align: center;
}

.forms {
	max-width: 200px;
	text-align: left;
}